.about {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background: rgba(51, 13, 73, 0.9);
  text-align: center;
  z-index: 999;
  padding: 1.5rem;

  & > p {
    margin-bottom: 1rem;

    & > a {
      color: $orangeishColor;
      text-decoration: none;
    }
  }
}

.about-title {
  margin-bottom: 1rem;
  color: $orangeishColor;
}
