*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

.link {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  color: white;
  cursor: pointer;
  z-index: 2;
}

label {
  font-size: 1.5rem;
  margin: 1rem auto;
  color: $orangeishColor;
}

input {
  height: 50px;
  width: 70%;
  max-width: 450px;
  margin: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.79);
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;

  &:focus,
  &:hover {
    outline: none;
    border-bottom: $orangeishColor solid 2px;
  }
}

.error {
  position: absolute;
  height: 60px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  animation: error-drop 1s forwards;
  -webkit-animation: error-drop 1s forwards;

  .err-message {
    height: 100%;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(214, 43, 43, 0.7);
    overflow: hidden;
  }
}

.btn {
  width: 162.68px;
  height: 58.09px;
  position: relative;
  border: none;
  border-radius: 20px;
  background: $secondBackgroundColor;
  color: $secondFontColor;
  z-index: 1;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
  }

  &:hover::before,
  &:focus::before {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}

.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  background-color: $orangeishColor;
  z-index: -1;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.colored {
  color: $orangeishColor;
}

//FLEX
.flex {
  display: flex;
}
.flex-ai-c {
  align-items: center;
}
.flex-jc-se {
  justify-content: space-evenly;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}

@media screen and (min-width: 760px) {
  .error {
    .err-message {
      font-size: 1.8rem;
    }
  }
}

@media screen and (min-width: 760px) {
  .btn {
    width: 250px;
  }
}
