nav {
  width: 100%;
  height: 60px;
}

.link-container {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0 15px 0 15px;
  font-size: 1rem;
  overflow: hidden;
}

.username {
  color: $orangeishColor;
  padding-top: 15px;
}

.nav-link {
  position: relative;
  color: $secondFontColor;
  text-decoration: none;
  cursor: pointer;
  overflow: visible;
  z-index: 1;

  &:hover,
  &:focus {
    outline: none;
    color: $orangeishColor;
  }
}

@media screen and (min-width: 760px) {
  .link-container {
    width: 80%;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1600px) {
  .link-container {
    width: 70%;
    font-size: 2rem;
  }
}

@media screen and (min-width: 2400px) {
  .link-container {
    width: 60%;
    font-size: 2.4rem;
  }
}
