.title-container {
  min-height: 150px;
}

.title {
  color: $orangeishColor;
  font-size: 2rem;
  font-weight: 100;
}

.banner {
  width: 140px;
}

@media screen and (min-width: 760px) {
  .title-container {
    flex-direction: column-reverse;
  }

  .title {
    font-size: 2.5rem;
  }

  .banner {
    width: 220px;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1600px) {
  .title {
    font-size: 3rem;
  }

  .banner {
    width: 320px;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 2400px) {
  .title {
    font-size: 3.4rem;
  }

  .banner {
    width: 400px;
    margin-top: 4rem;
  }
}
